.category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.category-item {
  text-align: center;
  background-color: #ccc;
  padding: 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px #999999;
  cursor: pointer;
}

.icono {
  font-size: 24px;
  color: #666666;
  font-size: 2.5em;
}

.category-Text{
  color: #666666;
  font-weight: bold;
}